@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>